/* file: _variable */
/* btn */
/* border */
/* txt */
/* bg */
/* file: sklife.sass */
/* ============================================================ */
/*               shin kong life  style                          */
/* ============================================================ */
/* ============================================================ */
/*                      top menu                                 */
/* ============================================================ */
.top-bar .logo.styleSKB {
  background-image: url("../img/skbank/logo-skb@2x.png");
  background-size: auto 28px;
  background-position: center center;
  width: 240px;
}

@media only screen and (max-height: 768px) {
  .swiper-container.mainmenu-swiper {
    max-width: 400px;
    height: auto;
  }

  .mmenu-tab-panel.active {
    height: calc(80vh - 280px);
  }
}
